.top-block{
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    background-color: #ffb824;
    font-size: 32px;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}

.top-block__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #0fa7b3;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;
}

.top-block__img img{
    
    width: 90%;
}

.products-wrapper.flex-on{
    display: flex;
    position: sticky;
}

.screen-background{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: black;
    opacity: 0.5;
}

.screen-background.active{
    display: block;
}

body.lock{
    overflow-y: hidden;
}

.button-filters{
    position: fixed;
    left: 50px;
    bottom: 50px;

    width: 85px;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #0fa7b3;
    border-radius: 50%;
    background: #fff;
    color: #0fa7b3;
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0,0,0,.4);
    transition: background-color .2s, color .2s;
}

.button-filters:hover{
    background: #0fa7b3;
    color: #fff;
}

.button-filters img{
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.filters{
    background-color: white;
    /* border-right: 3px solid #0092aa; */
    width: 280px;
    font-size: 24px;
    padding: 10px 20px;
    color: black;
    font-family: 'Comfortaa-Bold';
    height: fit-content;
    margin-right: 30px;
    position: fixed;
    z-index: 1000;
    top:  0;
    left: -280px;
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease;
}

.filters.open{
    left: 0px
}


.filters__top{
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    margin: 30px 0;
    
}
.filters__top.add-margin{
    margin-bottom: 30px;
}

.filter-close-icon{
    background-color: white;
    font-size: 24px;
    position: relative;
    top:3px
}





.filters__products-types{
    text-align: left;
    padding-left: 15px;
}

.filters__products-types span,
.filters__products-types a{
    display: inline-block;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.filters__products-types span.selected{
    background-color: #ffb824;
    padding: 7px;
    border-radius: 5px;
}

.filters__products-types a:hover{
    color: gray;
    cursor: pointer;
}


.filters__parametres{
    margin-top: 20px;
    text-align: left;
    padding-left: 15px;
    color: rgb(98, 97, 97);
}

.parameter{
    margin-bottom: 20px;
}

.parameter-title{
    font-size: 18px;
    
}
.parameter-item{
    font-size: 16px;
    display: block;
}

.parameter-item  .checkmark{
    display: none;
    font-size: 24px;
    position: relative;
    top: 5px;
    color: #0092aa;
    cursor: pointer;

}

.parameter-item .checkmark.checked{
    color: #c98900;
}

.parameter-item .checkmark.selected{
    display: inline;
}


.filters__price{
    margin: 20px 0;
    text-align: left;
    padding-left: 15px;
    color: rgb(98, 97, 97);
}

.filters__price span{
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-block;
}

.inputs-prices{
    font-size: 14px;
}

.inputs-prices input{
    width: 60px;
    height: 30px;
    text-align: center;
    border: 2px #4d9898 solid;
    border-radius: 5px;
    color: rgb(98, 97, 97);
}

.filters__price .slider{
    margin: 20px 0;
    height: 5px;
    background-color: rgb(220, 219, 219);
    border-radius: 5px;
    position: relative;
}

.filters__price .progress{
    height: 5px;
    position: absolute;
    border-radius: 5px;
    background-color: #0092aa;
    left: 0;
    right: 0;
    width:auto;
}

.range-input{
    position: relative;
}

.range-input input{
    cursor: pointer;
    position: absolute;
    top: -25px;
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
}

input[type='range']::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    -webkit-appearance: none;
    background-color: #0092aa;
    pointer-events: auto;
}

input[type='range']::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    -moz-appearance: none;
    background-color: #0092aa;
    pointer-events: auto;
}


.filters__price-button{
    margin-top: 10px;
    background-color: #fbb73b;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color:white;
}

.filters__price-button:hover{
    background-color: #fac768;
    color: white;
}



.list-products{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    justify-content: center;
   
}
/* .list-products.betrothed{
    grid-template-columns:  auto auto auto;
    width: 100%;
    margin-top: 86px;
  
} */

.product{
    width: 220px;
    background-color: white;
    border: 3px solid #0092aa;
    border-radius: 30px;
    padding: 15px 10px;
    position: relative;

}

.product-top{
    font-family: 'Comfortaa-Bold';
}

.product-top:hover{
    color: rgb(94, 92, 92);
}



.product__img{
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
    
}

.product__img img{
    height: 100%;
}

.product__vendor-code{
    margin-bottom: 10px;
}

.product__name{
    color: black;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s ease;

}


.product__name:hover{
    color: gray;
}

.product__bottom{
    margin-top: 20px;
    padding: 5px;
}

.product__packing{
    text-align: center;
}

.packing-list{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.packing-list__item{
    font-family: 'Comfortaa-Bold';
    border-radius: 10px;
    border: 2px #0092aa solid;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    margin:  0 3px; 
    white-space: nowrap;
    background-color: white;
}

.packing-list__item.selected{
    background-color: #0092aa;
    color: white;
}

.packing-list__item.stock{
    border-color: #ff3f3f;
    
}

.packing-list__item.stock.selected{
    background-color: #ff3f3f;
    color: white;
}


.product__price{
    color: #4d9898;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.product__price div{
    font-family: 'Comfortaa-Bold';
    font-size: 22px;
}

.product__old-price{
    opacity: 0.5;
    text-decoration: line-through;
}


.product__buy{
    font-family: 'Comfortaa-Bold';
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.product__amount{
    display: flex;
    width: 85px;
    height: 30px;
    border: 2px #0092aa solid;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;
   
}
.amount-number{
    width: 40px;
    text-align: center;
    color: gray;
    font-size: 16px;
}

.product__amount button{
    color: gray;
    background-color: white;
    font-size: 18px;
}

.product__button-in-cart{
    background-color: #fbb73b;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 30px;
    color: white;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
}

.product__button-in-cart:hover{
    background-color: #fac768;
    color: white;
}

.list__marks{
    top:15px;
    position: absolute;
}
.list__marks-item{
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    width: fit-content;
}

.list__marks .mark-stock{
    background-color: #ff3f3f;   
}

.list__marks .mark-hit{
    background-color: #ffb824;
}



/* Consultation form */
.consultation-form-products-page{
    background-color: white;
    max-width: 600px;
    height: 500px;
    margin: 90px auto 0 auto;
    border: #4d9898 8px solid;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    justify-content: space-around;  
  }
  
  .consultation-form-products-page h2, .consultation-form-products-page p{
    font-size: 28px;
    color: black;
    text-align: center;
  }

  .consultation-form-products-page p{
    margin-bottom: 0;
  }
  .consultation-form-products-page h2{
    line-height: 35px;
  }
  
  .consultation-form-products-page input{
    border-bottom: 1px gray solid;
    width: 80%;
    font-size: 18px;
  }
  
  .consultation-form-products-page textarea{
    border: 1px gray solid;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    resize: none;
    height: 120px;
  }
  
  .consultation-form-products-page button{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color: #fbb73b;
    font-size: 18px;
    transition: background-color 0.2s ease;
  }
  
  .consultation-form-products-page button:hover{
    background-color: #fac768;
  
}

/* Successful submission popup */
#popup-success p span{ 
    color: green;
    font-size: 22px;
}
  
/* Failed submission popup */
#popup-failure p span{ 
color: red;
font-size: 22px;
}


/* Shared popup styles */
#popup-failure p, #popup-success p{
margin: 10px 0;
font-size: 16px;
text-align: center;
}

#popup-added-to-cart h3{
    font-size: 24px;
    text-align: center;
}

#popup-added-to-cart .checkmark-img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto 0 auto;
}

#popup-added-to-cart .buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}

#popup-added-to-cart .buttons a{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    margin:  0 3px; 
    white-space: nowrap;
    color: white;
    height: 30px;
    font-size: 16px;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}

#popup-added-to-cart .buttons .stay{
    background-color: #0092aa;
}

#popup-added-to-cart .buttons .to-cart{
    background-color: #ffb824;
}

#popup-added-to-cart .buttons .stay:hover{
    background-color: #00b2cd;
}

#popup-added-to-cart .buttons .to-cart:hover{
    background-color: #fac768;
}


@media (max-width:1019px){
    .list-products{
        grid-template-columns: auto auto auto;    
    }
}

@media (max-width:999px){
    .button-filters{
        left: 5px;
        bottom: 5px;
    }
}
  

@media (max-width:767px){
    .consultation-form-products-page textarea, .consultation-form-products-page input{
        width: 100%; 
    }

    .consultation-form-products-page h2, .consultation-form-products-page h2 p{
        font-size: 22px;
    }

    .consultation-form-products-page h2{
        line-height: 27px;
    }

    .list-products{
        flex-wrap: wrap;   
    }

    .top-block__img{
        display: none;
    }

    h1{
        margin-left: 0;
    }

    .button-filters{
        width: 50px;
        height: 50px;
    }

    .button-filters img{
        width: 30px;
        height: 30px;
    }

}

@media (max-width:495px){
    .list-products{
        grid-template-columns: auto;    
    }

    h1{
        width:260px;
        height: 38px;
        font-size: 25px
    }
}
